.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #9fa8b5;
}

.main h1 {
  color: black;
  font-size: 5rem;
}

.box-board {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board {
  background-color: white;
  width: 100%;
  margin-top: 6rem;
  outline: 1rem solid black;
  position: relative;
  display: flex;
  justify-content: center;
}

.board > img {
  position: absolute;
  object-fit: cover;
  z-index: 2;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.video {
  width: 100% !important;
  flex: 1;
  height: auto !important;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.main button {
  border-radius: 50%;
  background-color: white;
  margin-top: 6rem;
  position: relative;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  cursor: pointer;
}

.main button::after {
  content: '';
  border-radius: 50%;
  width: 80%;
  border: 1px solid black;
  height: 80%;
}

.main button:active::after {
  border: 2px solid black;
}

.main button.icon {
  background: #fff url('/icons/return.png') no-repeat center center / 30px 30px;
}

.hide {
  display: none;
}

@media (max-width: 620px) {
  .main h1 {
    font-size: 2.5rem;
  }

  .box-board {
    width: 28rem;
  }
}
